<h4>
  <span class="badge badge-light ">
    {{medication.id}}
  </span>
  -> {{medication.medicationName}}
</h4>

<div [hidden]="submitted">

  <form (ngSubmit)="update()" #detailMedicineForm="ngForm">

    <div class="form-group">
      <label for="medicationName">Medication Name</label>
      <input type="text" class="form-control" id="medicationName" required [(ngModel)]="medication.medicationName" name="medicationName" #medicationName="ngModel">
      <div [hidden]="medicationName.valid || medicationName.pristine" class="alert alert-danger">
        Medication Name is Required
      </div>
    </div>

    <div class="form-group">
      <label for="dosage">Dosage</label>
      <input type="text" class="form-control" id="dosage" required [(ngModel)]="medication.dosage" name="dosage" #dosage="ngModel">
      <div [hidden]="dosage.valid || dosage.pristine" class="alert alert-danger">
        Dosage is Required
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text"  class="form-control" id="startDate" required [(ngModel)]="medication.startDate" name="startDate" #startDate="ngModel">
      <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
        Start Date is Required
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="text"  class="form-control" id="endDate" required [(ngModel)]="medication.endDate" name="endDate" #endDate="ngModel">
      <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
        End Date is Required
      </div>
    </div>






    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-dark" [disabled]="!detailMedicineForm.form.valid">Update</button>
      <button class="btn btn-dark" (click)="delete()">Delete</button>
    </div>

  </form>

</div>

<div [hidden]="!submitted">
  <p>{{message}}</p>
  <div class="btn-group btn-group-sm">
    <button class="btn btn-dark" (click)="goBack()">Back</button>
  </div>
</div>
