<div class="container">
  <div class="row">
    <div class="col-sm-6">  
      <h1>My Seizure Tracker</h1>
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="seizures" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Retrieve Seizure List</a> 
          </li>
          <li class="nav-item">
              <a routerLink="seizures/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create New Seizure Record</a>
          </li>
      </ul>

      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="medications" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Retrieve Medication List</a> 
          </li>
          <li class="nav-item">
              <a routerLink="medications/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create New Medicaton Record</a>
          </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>