<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <img src="../../assets/images/Black on Transparent.png" height="auto" width="100%">
      <br>
      <p class="lead">This web application was created for the final project of the</p>
      <p>Higher Diploma in Science in Computing Course - HDCSDEVICTSEPOL</p>
      <p>Specialisation – Software Development</p>
      <p class="lead">National College Of Ireland</p>
      <p class="lead">Aaron Pope</p>
      <p class="lead">Student Number: 13100106</p>
      <p class="lead">Email: x13100106@student.ncirl.ie</p>
      <br>
      <p>The purpose of this web application is to allow the user to create and manage records of their seizure incidents and medication usuage.</p>
      <br>
      <p>© 2018 Copyright: Aaron Pope | NCI Final Project | Higher Dimploma in Computer Science</p>
      
      
      

    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>© 2018 Copyright: Aaron Pope | NCI Final Project | Higher Dimploma in Computer Science</p>
      </div>
    </footer>
  </div>
</div>