<mat-toolbar color="Foreground">
    <span>Add New Seizure Record</span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a routerLink ="/seizures">
                  <mat-icon class="icon">list</mat-icon>
                  <span  class="label">View Seizure Records</span>
                 </a>
            </li>
            <li>
              <a routerLink ="/charts/type">
                  <mat-icon class="icon">add</mat-icon>
                  <span class="label">Add New Seizure Record</span>
              </a>
            </li>
      </ul>
    </div>
  </mat-toolbar>
  <mat-toolbar color="warn">
      <span>Choose Chart Type</span>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
              <li>
                  <a routerLink ="/charts/type">
                    <mat-icon class="icon">pie_chart</mat-icon>
                    <span  class="label">Types</span>
                   </a>
              </li>
              <li>
                <a routerLink ="/charts/trigger">
                    <mat-icon class="icon">pie_chart</mat-icon>
                    <span class="label">Triggers</span>
                </a>
              </li>
              <li>
                  <a routerLink ="/charts/time">
                      <mat-icon class="icon">pie_chart</mat-icon>
                      <span class="label">Time</span>
                  </a>
                </li>
        </ul>
      </div>
    </mat-toolbar>


<div *ngIf="chart">
  <canvas id="canvas">{{ sTriggerChart }}</canvas>
</div>